html, button {
  font-size: 10px;
  font-family: 'Milo ADAC Offc', MiloADACOffc, 'Milo ADAC', MiloADAC, sans-serif;
}

div#root {
  height: 100%;
}

div {
  height: auto;
}


a {
  height: auto;
  text-decoration: none;
}
