/* Offc */
@font-face{
  font-family:"MiloADACOffc";
  src:url("/assets/fonts/adac/offc/MiloADACOffc.ttf");
  src:url("/assets/fonts/adac/offc/MiloADACOffc.woff") format("woff"),
      url("/assets/fonts/adac/offc/MiloADACOffc.ttf") format("truetype");
}
@font-face{
  font-family:"Milo ADAC Offc";
  src:url("/assets/fonts/adac/offc/MiloADACOffc.ttf");
  src:url("/assets/fonts/adac/offc/MiloADACOffc.woff") format("woff"),
      url("/assets/fonts/adac/offc/MiloADACOffc.ttf") format("truetype");
}


@font-face{
  font-family:"MiloADACOffc-Bold";
  src:url("/assets/fonts/adac/offc/MiloADACOffc-Bold.ttf");
  src:url("/assets/fonts/adac/offc/MiloADACOffc-Bold.woff") format("woff"),
      url("/assets/fonts/adac/offc/MiloADACOffc-Bold.ttf") format("truetype");
}

@font-face{
  font-family:"Milo ADAC Offc Bold";
  src:url("/assets/fonts/adac/offc/MiloADACOffc-Bold.ttf");
  src:url("/assets/fonts/adac/offc/MiloADACOffc-Bold.woff") format("woff"),
      url("/assets/fonts/adac/offc/MiloADACOffc-Bold.ttf") format("truetype");
}



/* Default */
@font-face{
  font-family:"MiloADAC";
  src:url("/assets/fonts/adac/cafff969-80de-40e7-ab53-c98e9eb63ecc.eot?#iefix");
  src:url("/assets/fonts/adac/cafff969-80de-40e7-ab53-c98e9eb63ecc.eot?#iefix") format("eot"),
      url("/assets/fonts/adac/e287af78-19f1-4ad4-9135-9f59a75da185.woff2") format("woff2"),
      url("/assets/fonts/adac/2b6d31b5-1984-4ba5-bbf7-44735fdeaba2.woff") format("woff"),
      url("/assets/fonts/adac/2ea63ac9-76ce-478b-a94a-f316450aca5a.ttf") format("truetype"),
      url("/assets/fonts/adac/892f7116-61ec-49f7-a5e8-2a19127aa695.svg#892f7116-61ec-49f7-a5e8-2a19127aa695") format("svg");
}

@font-face{
  font-family:"Milo ADAC";
  src:url("/assets/fonts/adac/cafff969-80de-40e7-ab53-c98e9eb63ecc.eot?#iefix");
  src:url("/assets/fonts/adac/cafff969-80de-40e7-ab53-c98e9eb63ecc.eot?#iefix") format("eot"),
      url("/assets/fonts/adac/e287af78-19f1-4ad4-9135-9f59a75da185.woff2") format("woff2"),
      url("/assets/fonts/adac/2b6d31b5-1984-4ba5-bbf7-44735fdeaba2.woff") format("woff"),
      url("/assets/fonts/adac/2ea63ac9-76ce-478b-a94a-f316450aca5a.ttf") format("truetype"),
      url("/assets/fonts/adac/892f7116-61ec-49f7-a5e8-2a19127aa695.svg#892f7116-61ec-49f7-a5e8-2a19127aa695") format("svg");
}


@font-face{
  font-family:"MiloADAC-Bold";
  src:url("/assets/fonts/adac/d8499bed-40bb-4298-a28d-67a2824d626e.eot?#iefix");
  src:url("/assets/fonts/adac/d8499bed-40bb-4298-a28d-67a2824d626e.eot?#iefix") format("eot"),
      url("/assets/fonts/adac/2944e9e6-7eb5-4603-ac6a-363ae45ef4b9.woff2") format("woff2"),
      url("/assets/fonts/adac/81ff98e1-18b9-400b-b8f6-5244304e35db.woff") format("woff"),
      url("/assets/fonts/adac/21237f4a-190c-48e0-a848-8caa7a832cbf.ttf") format("truetype"),
      url("/assets/fonts/adac/e29a541b-c102-49aa-9beb-d9ce13f4b95e.svg#e29a541b-c102-49aa-9beb-d9ce13f4b95e") format("svg");
}

@font-face{
  font-family:"Milo ADAC Bold";
  src:url("/assets/fonts/adac/d8499bed-40bb-4298-a28d-67a2824d626e.eot?#iefix");
  src:url("/assets/fonts/adac/d8499bed-40bb-4298-a28d-67a2824d626e.eot?#iefix") format("eot"),
      url("/assets/fonts/adac/2944e9e6-7eb5-4603-ac6a-363ae45ef4b9.woff2") format("woff2"),
      url("/assets/fonts/adac/81ff98e1-18b9-400b-b8f6-5244304e35db.woff") format("woff"),
      url("/assets/fonts/adac/21237f4a-190c-48e0-a848-8caa7a832cbf.ttf") format("truetype"),
      url("/assets/fonts/adac/e29a541b-c102-49aa-9beb-d9ce13f4b95e.svg#e29a541b-c102-49aa-9beb-d9ce13f4b95e") format("svg");
}



/* Slab */
@font-face{
  font-family:"MiloSlabADAC";
  src:url("/assets/fonts/adac/slab/5217af2d-64fd-49cd-876f-f1473d38078d.eot?#iefix");
  src:url("/assets/fonts/adac/slab/5217af2d-64fd-49cd-876f-f1473d38078d.eot?#iefix") format("eot"),
      url("/assets/fonts/adac/slab/a506dc87-b46f-4ff8-af3f-a2603333cf86.woff2") format("woff2"),
      url("/assets/fonts/adac/slab/ca9d0946-7daa-4404-9fc9-09e940b5356c.woff") format("woff"),
      url("/assets/fonts/adac/slab/3dfdfb71-3aae-4a98-ab40-4405e4d5b2e7.ttf") format("truetype"),
      url("/assets/fonts/adac/slab/de0bb77a-e4e9-4930-b187-d4a90cefac4f.svg#de0bb77a-e4e9-4930-b187-d4a90cefac4f") format("svg");
}

@font-face{
  font-family:"Milo Slab ADAC";
  src:url("/assets/fonts/adac/slab/5217af2d-64fd-49cd-876f-f1473d38078d.eot?#iefix");
  src:url("/assets/fonts/adac/slab/5217af2d-64fd-49cd-876f-f1473d38078d.eot?#iefix") format("eot"),
      url("/assets/fonts/adac/slab/a506dc87-b46f-4ff8-af3f-a2603333cf86.woff2") format("woff2"),
      url("/assets/fonts/adac/slab/ca9d0946-7daa-4404-9fc9-09e940b5356c.woff") format("woff"),
      url("/assets/fonts/adac/slab/3dfdfb71-3aae-4a98-ab40-4405e4d5b2e7.ttf") format("truetype"),
      url("/assets/fonts/adac/slab/de0bb77a-e4e9-4930-b187-d4a90cefac4f.svg#de0bb77a-e4e9-4930-b187-d4a90cefac4f") format("svg");
}


@font-face{
  font-family:"MiloSlabADAC-Bold";
  src:url("/assets/fonts/adac/slab/1ce99006-adb3-478c-8f8f-2ccb1e5a55eb.eot?#iefix");
  src:url("/assets/fonts/adac/slab/1ce99006-adb3-478c-8f8f-2ccb1e5a55eb.eot?#iefix") format("eot"),
      url("/assets/fonts/adac/slab/0f6e4251-28b5-446a-837c-9ece8f66d834.woff2") format("woff2"),
      url("/assets/fonts/adac/slab/017b1630-b4d2-4f43-93b6-b8d0be94ded1.woff") format("woff"),
      url("/assets/fonts/adac/slab/95a48ede-84bf-41e0-8050-8003a8366d33.ttf") format("truetype"),
      url("/assets/fonts/adac/slab/e6158b6a-dbbe-4b38-9f79-025dfaac785a.svg#e6158b6a-dbbe-4b38-9f79-025dfaac785a") format("svg");
}

@font-face{
  font-family:"Milo Slab ADAC Bold";
  src:url("/assets/fonts/adac/slab/1ce99006-adb3-478c-8f8f-2ccb1e5a55eb.eot?#iefix");
  src:url("/assets/fonts/adac/slab/1ce99006-adb3-478c-8f8f-2ccb1e5a55eb.eot?#iefix") format("eot"),
      url("/assets/fonts/adac/slab/0f6e4251-28b5-446a-837c-9ece8f66d834.woff2") format("woff2"),
      url("/assets/fonts/adac/slab/017b1630-b4d2-4f43-93b6-b8d0be94ded1.woff") format("woff"),
      url("/assets/fonts/adac/slab/95a48ede-84bf-41e0-8050-8003a8366d33.ttf") format("truetype"),
      url("/assets/fonts/adac/slab/e6158b6a-dbbe-4b38-9f79-025dfaac785a.svg#e6158b6a-dbbe-4b38-9f79-025dfaac785a") format("svg");
}